{{ $baseurl := .Site.BaseURL }}
<h1 class="site-title">
  <span class="base05">H</span><span class="base08">i</span> <span class="base09">t<span><span class="base0a">h</span><span class="base0b">e</span><span class="base0c">r</span><span class="base0d">e</span><span class="base0b">!</span>
</h1>

<div class="hero-logo">
<!--   <img src="{{ "img/base16-eighties.svg" | relURL }}">
 -->  <img src="{{ "img/hero-image.jpg" | relURL }}" >
</div> 

<div style="text-align: center;">
  <br>
  <br>
  <h1>About</h1>
  <p>Hi everyone! My name is Sabina and I am currently working as a junior developer. Two years ago, I decided to switch my career to tech due to its versatile scope and my growing interests in software development. Problem-solving and being able to build stuffs give me immense happiness and I love that I can play a role of investigator while debugging. </p>
  <p>Most of my time at work, I try to investigate and analyze why certain things are behaving in a certain way. Basically finding out <strong>WHY?</strong> Happiness is when I figure out the reason and am able to solve that specific problem I am working on. Must I say, it's not always an easy road and happy stars..sometimes being stuck in hours for same problem can bring its own frustrations but eventually it has always worked out at the end. :)</p> 
  <p>During my free time, I take some online courses through Fitech and Udemy. Currently, I am taking an <a class="hero-link" href="https://fitech.io/en/studies/introduction-to-devops/" target="_blank">Intro to devops</a> course. <a class="hero-link" href="/sabeenski-project/post/devops/">Here</a> you can read more about why I decided to take this course and <a class="hero-link" href="/sabeenski-project/post/learnings/">Here</a> you can read what have I learnt from this course.   </p>
</div>
